
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Quiz da Copa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">

    <div class="bola">⚽</div>

    <h1>Quiz da Copa do Mundo</h1>

    <p>
        Teste seus conhecimentos sobre a maior competição de futebol do planeta.
    </p>

    <form action="/iniciar" method="POST">

        <input
            type="text"
            name="nome"
            placeholder="Digite seu nome"
            required
            class="campo"
        >

        <button type="submit">
            Começar Quiz
        </button>

    </form>

</div>

</body>
</html>