<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Cadastro Realizado</title>
</head>
<body>

<h1>✅ Cadastro realizado com sucesso!</h1>

<h3>Dados do Aluno</h3>

<p><strong>Nome:</strong> {{ nome }}</p>

<p><strong>E-mail:</strong> {{ email }}</p>

<p><strong>Telefone:</strong> {{ telefone }}</p>

<p><strong>CPF:</strong> {{ cpf }}</p>

<p><strong>Cidade:</strong> {{ cidade }}</p>

<p><strong>Estado:</strong> {{ estado }}</p>

<p><strong>Curso:</strong> {{ curso }}</p>

<p><strong>Idade:</strong> {{ idade }}</p>

<a href="/">Novo Cadastro</a>

</body>
</html>